*{
    font-family: 'Poppins';
    box-sizing:border-box;

}
body {
    
    background-color: rgb(150, 243, 235);
    background-image:url(bg.jpg);

    background-size:cover;

    }
    .title{
        text-align:center;
        color:white;
        position:relative;
        top:50px;
        letter-spacing: 0.5px;

    }
    .input-label{
        letter-spacing: 0.5px;;
    }
    button {
    background-color: rgb(13, 80, 80);
    width: 100%;
    border-radius:30px;
    color:white;
    padding: 15px;
    margin: 20px 0px;
    font-size:18px;
    border: none;
    cursor: pointer;
    }
    .forgot-link{
        text-decoration:none;
        color:black;
        position:relative;
        top:10px;
        
    }
    .forgot-link:hover{
        text-decoration: underline;
    }
    input::placeholder{
        font-size:15px;
        font-family: 'Poppins';
    }
    input[type=text], input[type=password] {
        width: 100%;
        margin: 8px 0;
        padding: 20px 20px;
        display: inline-block;
        border:none;
        border-radius:20px;
        box-sizing: border-box;
        
    }
    button:hover {
    opacity: 0.7;
    }
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
    background: green;
    color: yellow;
    }
    .erase{
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
    background: green;
    color: yellow;
    border: 0px;
    }
    .container-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        align-content:center;
    }
    .container {
        padding: 25px;
        position:relative;
        top:6rem;
        background-color: rgb(130, 196, 202);
        opacity: 50;
        display:block;
        border-radius:13px;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(137, 168, 175);
        justify-content: center;
        align-items: center;
        width:400px;
        height:400px;
        max-width:400px;
      
    }
    .sign-up-redirection{
        display:flex;
        margin-top:-20px;
        
       
    }
    .redirect-sign-up{
        position:relative;
        top:15px;
        left:10px;
        cursor:pointer;
        text-decoration:underline;
        color:black;
    }

    
    @media only screen and (min-width: 300px ) and(max-width:430px){
        body{
            margin:25px;
        }
        .container-wrapper{
            padding:20px;
        }
    }
